<%= link_to article_path(article), class:"item" do %>
  <%= image_tag(cover_image_fallback(article) , class: "item-image", alt:"article image") %>
  <div class="item-row">
    <div class="item-category"><%= article.category.name %></div>
    <div class="item-comments"><%= article.comments.count %></div>
  </div>
  <div class="item-row">
    <div class="item-title"><%= article.title %></div>
  </div>
  <div class="item-row">
    <div class="item-author"><%= article.author.name %></div>
    <div class="item-date"><%= l(article.created_at, format: :custom_short) %></div>
    <!--<div class="item-date"><%= article.created_at.strftime("%d de %b") %></div>-->
    <!-- duas opções de internacionalizar a data -->
  </div>
<% end %>